GROQ_API_KEY="API-KEY-FROM-GROQ-SITE"
TAVILY_API_KEY="API-KEY-FROM-TAVILY"
QDRANT_URL="URL-FOR-QDRANT-CLOUD-DB"
QDRANT_API_KEY="QDRANT-CLOUD-DB-API-KEY"
OPENAI_API_KEY="API-KEY-FOR-OPENAI-MODELS"
GOOGLE_API_KEY="API-KEY-FOR-GOOGLE-EMBEDDING-MODELS"